<launch>
	
	<!-- Start the DJI SDK -->
	<include file="$(find dji_sdk)/launch/sdkM.launch"/>

	<!-- Vision node -->
	<group ns="jetyak_uav_vision">

		<!-- Load vision and gimbal parameters -->
		<rosparam command="load" file="$(find jetyak_uav_utils)/cfg/gimbal_cam.yaml"/>

		<!-- Start the camera and gimbal controller -->
		<include file="$(find dji_gimbal_cam)/launch/default.launch"/>
		<node name="gimbal_tag" pkg="jetyak_uav_utils" type="gimbal_tag_node" output="screen" />

		<!-- Start tag tracking -->
		<include file="$(find jetyak_uav_utils)/launch/ar_track_test.launch"/>

		<node name="joy" pkg="joy" type="joy_node">
			<remap from="joy" to="/jetyak_uav_vision/joy"/>
		</node>
	</group>

</launch>
